@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    color: black;
    background-color: #24252A;
    background-image: url(https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_Discord_Nitro_2560x1440_withlogo_2560x1440-944994658df3b04d0c4940be832da19e);
}

footer {
    background-color: #1a1a1a
}

h1 {
    font-family: quicksand;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: quicksand;
    font-size: 18px;
}

title {
    font-family: quicksand;
}

.img-fond {
    width: 30cm;
    height: 8cm;
    background-color: #2F4F4F;
    border-radius: 10%;
}
