@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #24252A;
}

footer {
    background-color: #1a1a1a
}

h1 {
    font-family: quicksand;
    color: white;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: quicksand;
    color: white;
    font-size: 18px;
}

title {
    font-family: quicksand;
}

.img-fond {
    width: 30cm;
    height: 8cm;
    background-color: #2F4F4F;
    border-radius: 10%;
}
